# Core Dash
plotly
dash
dash-core-components
dash-html-components
dash-renderer
flask
werkzeug==0.16.0
python-jose

# Additional
pandas
tables
scipy
scikit-learn
dash-table
dash-table-experiments
xlrd
sd-material-ui
uwsgi
