<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="/static/favicon.png">
    {%metas%}
    <title>{%title%}</title>


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/7.0.0/normalize.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/custom-styles.css">

    {%css%}


 </head>

<style>
  .bg-white {
      background-color: #fffffd;
  }

  .btn-primary {
    @extend .btn-primary;
      background-color: #EC52A2;
        border-color: #c14284;
  }

    .rc-slider-disabled{
        background-color: #0097a7;
    }

</style>

    <body>
        <nav class="navbar navbar-default bg-white">

          <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
            <a href="/"><img class="pull-left" src="/static/logo.png" height="75" width="93"/>	 </a>
            <a style="margin-top:15px; " class="navbar-brand" href="/">{%title%}</a>

              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">

              <ul class="nav navbar-nav navbar-right">


                <li><a href="/"><span class="glyphicon glyphicon-home"></span>&nbsp;Home</a></li>

                <li class="dropdown">
                      <a href="#" class="glyphicon glyphicon-book dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">&nbsp;Help <span class="caret"></span></a>
                      <ul class="dropdown-menu">
                          <li><a href="/support">Support</a></li>
                      </ul>
                </li>

            </ul>
            </div><!-- /.navbar-collapse -->
          </div><!-- /.container-fluid -->

        </nav>

      <div class="container-fluid">

            {%app_entry%}

      </div><!-- /.container -->


  <div class="footer bg-white">
    <hr>
    <p class="small text-muted">Built by <a href="http://www.hearts-science.com">Hearts & Science</a> &copy; 201</p>
        {%config%}
        {%scripts%}
        {%renderer%}
    </div>

    </body>

</html>
